[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
nose2 = "*"
requests = "*"
asyncio-nats-client = "*"
mysql-connector-python = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-JWT-Extended = "*"
Flask-Security = "*"
SQLAlchemy = "*"

[requires]
python_version = "3.8"
